.dinner_ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.dinner_container {
  margin: 0 auto;
  max-width: 95vw;
  width: 100%;
}

@media (min-width: 600px) {
  .dinner_container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}
