.dinner_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dinner_spacer {
  height: 10px;
}

.dinner_container {
  margin: 0 auto;
  max-width: 95vw;
  width: 100%;
}

@media (min-width: 600px) {
  .dinner_container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}
