* {
  font-family: "Courier New", Courier, monospace;
}
.column {
  display: flex;
  flex-direction: column;
}

.credit {
  display: flex;
  justify-content: flex-end;
  margin: 0.25rem 0 2rem;
}

.footer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header_logo {
  height: 35px;
}

.header_nav {
  padding: 0.5rem 1rem;
}

.home_img {
  max-width: 90vw;
  margin: 2rem auto 0;
  width: 750px;
}

.page_container {
  min-height: 85vh;
}

.footer_row {
  display: flex;
  margin: 0 auto;
}

.footer_space {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

@media (max-width: 600px) {
  .footer_row {
    flex-direction: column;
    text-align: center;
  }

  .footer_space {
    display: none;
  }
}
