.tonics_container {
  margin: 0 auto;
  max-width: 95vw;
  width: 100%;
}

.tonics_intro {
  max-width: 720px;
}

.tonics_ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 600px) {
  .tonics_container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}
